*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-color: red;
  color: white;
}

 .child-div{
 text-align: center;
  margin-top: 100px;
} 
.child-div,figure,figcaption{
  padding-top: 15px;
  text-transform: capitalize;

  
}
 .inp1{
  margin-top: 20px;
  background-color: white;
  color: black;
  padding: 5px 20px;
  border: none;
  outline: none;
  font-weight: lighter;
  border-top-left-radius: 10px;
} 
 .inp1:hover{
  cursor: pointer;
  color: red

}
i{
  color: red;
  background-color:white;
  padding: 6px;
  padding-bottom: 8px;
  padding-right: 20px;
  border-bottom-right-radius: 10px;
}
.eachitem{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
h3{
  background-color: white;
  border-top-left-radius: 10px;
  color: black;
  padding: 5px 135px;
}
h3:hover{
  background-color:lightpink;
  color: black;
}
.btn{
  margin-top: 25px;
  padding: 8px 20px;
  border-radius: 15px;
  font-weight:600;
  color: black;
  background-color: white;
  font-size: 20px;
  border: none;
}
.btn:hover{
  cursor: pointer;
  background-color:rgb(255, 174, 0);
  color: white;
}
/* .addItem{
  display: flex;
  justify-content:space-evenly;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 10px;
 
  background-color: white;
  color: black;
}
h5{
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.plus1{
  color:darkblue;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-right: 10px;

}  */
